img {
    float: left;
}

.fill {
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.footerText {
    color: white;
}

p {
    font-size: 22px !important;
}
